@use '../utils/variables' as * ; 
@use '../utils/mixins' as * ; 

.footer {
    @include aligny; 

    background: $omf-gray; 
    * { 
        color: white; 
        font-size: 0.8rem; 
    }
    
    padding-left: 20px;
    padding-bottom: 20px; 
    
    row-gap: 5px; 
    
    &__title {
        font-family: shrikhand; 
        font-size: 0.95rem;
    }
    .fa-solid {
        color: white; 
    }
    
    a:hover { text-decoration: underline;}
}