@use '../utils/variables' as * ; 
@use '../utils/mixins' as * ; 

.footer {
    @include aligny;

    background: $omf-gray; 
    padding: 8px 0 20px 20px; 
    row-gap: 4px; 
    
    * { color: white; }

    &__title {
        font-family: shrikhand; 
        font-size: 0.86rem;
    }
    
     &__linksblock {
        font-size: .84rem;
        .fa-solid { color: white; }
        a:active { text-decoration: underline; }

        @include aligny; 
        row-gap: 4px; 
    }   

}