@use '../utils/variables' as * ; 
@use '../utils/placeholders' as * ; 

.footer {
    @extend %aligny; 

    background: $omf-gray; 
    * { 
        color: white; 
        font-size: 0.8rem; 
    }
    
    padding-left: 20px;
    padding-bottom: 20px; 
    
    row-gap: 5px; 
    
    .footer__title {
        font-family: shrikhand; 
        font-size: 0.95rem;
    }
    .fa-solid {
        color: white; 
    }
    
    a:hover { text-decoration: underline;}
}