@use '../utils/variables' as * ; 
@use '../utils/mixins' as * ; 


.search {
    @include aligny-xcenter; 
    row-gap: 10px; 
    
    padding: 30px 0; 
    background: $omf-lightgray; 

    &__title {
        font-size: 6.5vw; 
        font-weight: bolder; 
        text-align: center;
        margin: 0 46px; 
    }

    &__text {
        font-weight: 100; 
        color: $omf-gray; 
        text-align: center; 
        margin: 0 20px; 
    }

    &__button {
        @include button01 ; 

        &:hover {
            @include button01-hover ; 
        }
    }
}
