@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/animations';


.loader {
  width: 100%;
  height: 100%;

  position: absolute;
  background: black;

  // placed much over page, to hide everything
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: loader-bckgd $loader-duration ease-out;
  animation-fill-mode: forwards;

  &__img {
    width: 50px;
    animation: loader-img $loader-duration ease-out;
    animation-fill-mode: forwards; // loader img remains invisible (opacity) end of animation
  }
}


.search {
  @include aligny-xcenter;
  row-gap: 10px;

  padding: 30px 0;
  background: $omf-lightgray;

  &__title {
    font-size: 1.22rem;
    font-weight: bolder;
    text-align: center;
    margin: 0 46px;
  }

  &__text {
    color: #6b6b6b;
    text-align: center;
    margin: 0 20px;
  }

  &__button {
    @include btn01;

    &:active {
      filter: opacity(.8);
      box-shadow: $bshadow-dark ;
      cursor: pointer;
    }
  }
}


.fonctionnement,
.restaurants__container {
  padding: 20px;
}


.fonctionnement {
  max-width: 1000px;
  margin: auto;

  &__title {
    @include homeSection-title;
  }

  &__cardsblock {
    @include aligny-xcenter;

    row-gap: 18px;

    &__card {
      @include alignx-ycenter;

      column-gap: 10px;
      width: $homeCard-width;
      height: 60px;

      border-radius: 15px;
      background: $omf-lightgray;
      box-shadow: $bshadow;

      .card__nb {
        color: white;
        font-size: 0.7rem;
        background: $primary-color;

        border-radius: 50%;
        padding: 0.16rem 0.42rem;

        position: relative;
        left: -10px;
      }

      .card__content {
        display: flex;
        align-items: first baseline;
      }

      .fa-solid {
        height: fit-content;
        width: fit-content;
        margin-right: 14px;
      }

      .fa-store {
        font-size: 0.94rem;
      }

      .card__text {
        font-weight: 500;
        font-size: 0.82rem;
      }
    }
  }
}


.restaurants {
  background: $omf-lightgray;
  width: 100%;

  &__container {
    max-width: 1000px;
    margin: auto;
  }

  &__title {
    @include homeSection-title;
  }

  .new {
    @include new;
  }

  &__cardsblock {
    @include aligny-xcenter;

    a {
      width: 100%;
    }

    .card {
      background-color: white;
      border-radius: 15px;
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

      transition: all 0.2s ease-in-out;

      &__pix {
        object-fit: cover;

        width: 100%;
        height: 148px;

        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      // pictures framing
      .pix01 {
        object-position: 0 100%;
      }

      .pix02 {
        object-position: 0 61.5%;
      }

      .pix03 {
        object-position: 0 100%;
      }

      .pix04 {
        object-position: 0 95%;
      }

      &:hover {
        box-shadow: $bshadow-dark;
        transform: scale(0.98);
      }

      &__info {
        display: flex;
        justify-content: space-between;

        padding: 14px 10px;
      }

      &__info * {
        margin: 0;
        line-height: 1.3rem;
      }

      &__subtitle {
        color: $omf-gray;
        font-size: 0.9rem;
      }

      &__fav {
        @include heart-icons;
      }
    }

    row-gap: 14px;
  }
}


.liked {
  opacity: 1;
}


// -------  MEDIA QUERIES  -------

@media (min-width: 768px) {

  .search {
    row-gap: 24px;

    &__title {
      font-family: roboto;
      font-size: 2.2rem;
    }

    &__button {
      margin: 0;

      &:hover {
        filter: opacity(.8);
        box-shadow: $bshadow-dark ;
        cursor: pointer;
      }
    }
  }

  .fonctionnement {
    &__cardsblock {
      flex-direction: row;
      justify-content: center;
      column-gap: 4%;
    }
  }

  .restaurants {
    &__cardsblock {
      row-gap: 44px;
      column-gap: 4%;

      display: grid;
      grid-template-columns: 48% 48%;
    }
  }
}

@media (min-width: 1024px) {

  .restaurants {
    &__cardsblock {

      .card {
        min-width: 350px;
        max-width: 450px;

        .pix01 {
          object-position: 0 70%;
        }

        .pix03 {
          object-position: 0 80%;
        }

        .pix04 {
          object-position: 0 74%;
        }
      }
    }
  }
}