.fonct__title, .resto .resto__title, .search .search__title {
  font-weight: bold;
  font-family: roboto, sans-serif;
  font-size: 20px;
}

body * .fa-solid {
  width: 20px;
  color: #808080;
}

.resto .new {
  font-size: 12px;
  color: #008766;
  background: #99E2D0;
  border-radius: 2px;
  padding: 5px 10px;
  position: absolute;
  top: 2px;
  right: 10px;
}

.card .card__fav, .header__location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonct__cardsblock .fonct__card {
  display: flex;
  align-items: center;
}

.fonct__cardsblock, .resto, .footer {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
}
body .body__container {
  position: static;
  top: 0;
  left: 0;
  max-width: 1440px;
}
body .body__loader {
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.8;
  background: #99E2D0;
  animation: loader-anim linear 3s;
  opacity: 0;
}

body * {
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}
body * a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: shrikhand;
  src: url("../../fonts/shrikhand.ttf");
}
@font-face {
  font-family: roboto;
  src: url("../../fonts/roboto.ttf");
}
@keyframes loader-anim {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
.header__title {
  font-family: shrikhand, serif;
  font-size: 24px;
  text-align: center;
  padding: 18px 0 6px 0;
  margin: 0;
  box-shadow: 0 2px 5px #b8b8b8;
  position: relative;
  z-index: 2;
}
.header__location {
  height: 44px;
  background: #f0f0f0;
}
.header__location * {
  margin: 0 6px;
  color: #4d4d4d;
}
.header__location--icon {
  width: 12px;
  height: 14px;
}
.header__location--text {
  font-family: roboto, sans-serif;
  font-weight: bolder;
  font-size: 0.85rem;
}

.search {
  row-gap: 10px;
  padding: 30px 0;
  background: #f7f7f7;
}
.search .search__title {
  font-size: 6.5vw;
  text-align: center;
  margin: 0 46px;
}
.search .search__text {
  font-weight: 100;
  color: #4d4d4d;
  text-align: center;
  margin: 0 20px;
}
.search .search__button {
  border-radius: 100px;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.12);
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 0.87rem;
  font-weight: 600;
  padding: 8px 20px;
  margin: 20px 0;
  line-height: 2;
  background: linear-gradient(#FF79DA, #9356DC);
}
.search .search__button:hover {
  filter: brightness(1.3);
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.5);
}

.footer {
  background: #4d4d4d;
  padding-left: 20px;
  padding-bottom: 20px;
  row-gap: 5px;
}
.footer * {
  color: white;
  font-size: 0.8rem;
}
.footer .footer__title {
  font-family: shrikhand;
  font-size: 0.95rem;
}
.footer .fa-solid {
  color: white;
}
.footer a:hover {
  text-decoration: underline;
}

.fonct {
  padding: 24px 20px;
}
.fonct__cardsblock {
  row-gap: 18px;
}
.fonct__cardsblock .fonct__card {
  -moz-column-gap: 10px;
       column-gap: 10px;
  border-radius: 15px;
  background: #f7f7f7;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.12);
}
.fonct__cardsblock .fonct__card .fonct__nb {
  color: white;
  background: #9356DC;
  border-radius: 50%;
  padding: 1px 6px;
  position: relative;
  left: -10px;
}
.fonct__cardsblock .fonct__card .fonct__text {
  font-weight: bold;
  color: #4d4d4d;
  margin: 24px 0px;
}
.fonct__cardsblock .fonct__card:hover .fa-solid {
  color: #9356DC;
}

.resto {
  margin: 40px 0 0 0;
  padding: 30px 10px;
  background: #f7f7f7;
  row-gap: 14px;
}
.card {
  background-color: white;
  border-radius: 15px;
  padding: 2px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card .card__pix {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 148px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card .card__info {
  display: flex;
  justify-content: space-between;
  padding: 14px 10px;
}
.card .card__info * {
  margin: 0;
}
.card .card__subtitle {
  font-weight: 100;
  color: #4d4d4d;
}
.card .card__fav {
  width: -moz-fit-content;
  width: fit-content;
  position: static;
}
.card .card__fav img {
  color: #4d4d4d;
  width: 18px;
  margin: 10px;
  position: absolute;
  right: 20px;
}
.card .plain {
  display: none;
}/*# sourceMappingURL=main.css.map */