@font-face {
  font-family: shrikhand;
  src: url("../fonts/shrikhand.ttf");
}
@font-face {
  font-family: roboto;
  src: url("../fonts/roboto.ttf");
}
body {
  margin: 0;
}

.noscroll {
  animation: 3s noscroll linear;
}

body * {
  box-sizing: border-box;
  font-family: roboto;
  font-size: 1rem;
}
body * .fa-solid {
  width: 20px;
  color: #808080;
}
body * a {
  text-decoration: none;
  color: black;
}

/* 
    Keyframes animations in this file. 
    Other animations like transitions can be found in _mixins.scss file. 
*/
@keyframes noscroll {
  0% {
    overflow: hidden;
  }
  98% {
    overflow: hidden;
  }
  100% {
    overflow: scroll;
  }
}
@keyframes loader-bckgd {
  95% {
    background-color: rgb(0, 0, 0);
    z-index: 10;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    z-index: -10;
  }
}
@keyframes loader-img {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  95% {
    opacity: 0.9;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}
@keyframes slide01 {
  /*  Slide from left and outside of the screen viewport to initial position (page left). 
      Hides initial position on page load with opacity 0 at first. 
  */
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader-bckgd 3s ease-out;
  animation-fill-mode: forwards;
}
.loader__img {
  width: 50px;
  animation: loader-img 3s ease-out;
  animation-fill-mode: forwards;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 30px 0;
  background: #f7f7f7;
}
.search__title {
  font-size: 1.22rem;
  font-weight: bolder;
  text-align: center;
  margin: 0 46px;
}
.search__text {
  font-weight: 100;
  color: #4d4d4d;
  text-align: center;
  margin: 0 20px;
}
.search__button {
  border: none;
  border-radius: 100px;
  box-shadow: 0 0.37rem 0.38rem rgba(0, 0, 0, 0.16);
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 16px 20px;
  margin: 20px 0;
  background: linear-gradient(180deg, #FF79DA -30%, #9356DC 110%);
  transition: all 300ms ease-in-out;
}
.search__button:active {
  filter: opacity(0.8);
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.search__button:active {
  filter: opacity(0.8);
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.fonct {
  padding: 24px 20px;
}
.fonct__title {
  font-weight: bold;
  font-size: 1.25rem;
}
.fonct__cardsblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
}
.fonct__cardsblock__card {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 300px;
  border-radius: 15px;
  background: #f7f7f7;
  box-shadow: 0 0.37rem 0.38rem rgba(0, 0, 0, 0.16);
}
.fonct__cardsblock__card .fonct__nb {
  color: white;
  background: #9356DC;
  border-radius: 50%;
  padding: 1px 6px;
  position: relative;
  left: -10px;
}
.fonct__cardsblock__card .fonct__text {
  font-weight: bold;
  color: #4d4d4d;
  margin: 24px 0px;
}
.fonct__cardsblock__card:active .fa-solid {
  color: #9356DC;
}

.resto {
  margin: 40px 0 0 0;
  padding: 30px 10px;
  background: #f7f7f7;
}
.resto .resto__title {
  font-weight: bold;
  font-size: 1.25rem;
}
.resto .new {
  font-size: 12px;
  color: #008766;
  background: #99e2d0;
  border-radius: 2px;
  padding: 5px 10px;
  position: absolute;
  top: 2px;
  right: 10px;
}
.resto__cardsblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;
}
.resto__cardsblock .card {
  width: 300px;
  background-color: white;
  border-radius: 15px;
  padding: 2px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.resto__cardsblock .card__pix {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 148px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.resto__cardsblock .card .pix01 {
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
.resto__cardsblock .card .pix02 {
  -o-object-position: 0 61.5%;
     object-position: 0 61.5%;
}
.resto__cardsblock .card .pix03 {
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
.resto__cardsblock .card .pix04 {
  -o-object-position: 0 95%;
     object-position: 0 95%;
}
.resto__cardsblock .card__info {
  display: flex;
  justify-content: space-between;
  padding: 14px 10px;
}
.resto__cardsblock .card__info * {
  margin: 0;
}
.resto__cardsblock .card__subtitle {
  font-weight: 100;
  color: #4d4d4d;
}
.resto__cardsblock .card__fav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.resto__cardsblock .card__fav .heart-default, .resto__cardsblock .card__fav .heart-like {
  width: 22px;
  position: absolute;
  right: 10px;
}
.resto__cardsblock .card__fav .heart-default {
  fill: transparent;
  stroke: black;
  stroke-width: 2;
  opacity: 1;
  transition: opacity 300ms linear;
}
.resto__cardsblock .card__fav .heart-like {
  opacity: 0;
  transition: opacity 300ms linear;
}
.resto__cardsblock .card__fav:hover > .heart-default {
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms linear;
}
.resto__cardsblock .card__fav:hover > .heart-like {
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms linear;
}

.resto-page {
  display: flex;
  justify-content: center;
}
.resto-page .menu {
  background: #f7f7f7;
  border-radius: 30px;
  width: 100%;
  padding: 12px;
}
.resto-page .menu__header {
  display: flex;
  justify-content: space-between;
  margin: 0.6rem;
}
.resto-page .menu__title {
  font-size: 1.4rem;
  font-family: shrikhand;
}
.resto-page .menu__fav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.resto-page .menu__fav .heart-default, .resto-page .menu__fav .heart-like {
  width: 22px;
  position: absolute;
  right: 10px;
}
.resto-page .menu__fav .heart-default {
  fill: transparent;
  stroke: black;
  stroke-width: 2;
  opacity: 1;
  transition: opacity 300ms linear;
}
.resto-page .menu__fav .heart-like {
  opacity: 0;
  transition: opacity 300ms linear;
}
.resto-page .menu__fav:hover > .heart-default {
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms linear;
}
.resto-page .menu__fav:hover > .heart-like {
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms linear;
}
.resto-page .menu__fav:hover > .heart-default {
  opacity: 0;
  transition: opacity 300ms linear;
}
.resto-page .menu__fav:hover > .heart-like {
  animation: heart-visible 300ms linear;
  animation-fill-mode: forwards;
}
.resto-page .menu__btnfield {
  width: 100%;
  display: flex;
  justify-content: center;
}
.resto-page .menu__btn {
  border: none;
  border-radius: 100px;
  box-shadow: 0 0.37rem 0.38rem rgba(0, 0, 0, 0.16);
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 16px 20px;
  margin: 20px 0;
  background: linear-gradient(180deg, #FF79DA -30%, #9356DC 110%);
  transition: all 300ms ease-in-out;
  width: 180px;
}
.resto-page .menu__btn:active {
  filter: opacity(0.8);
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.dishblock {
  /*  HTML standards : <a> or <button> tag for future onclick event 
      The user should click on a dish card to add this dish to his/her menu kart
      If button is used (<button class="card02"> instead of <div> for W3C rules) , 
      just uncomment following style. 
  */
}
.dishblock__title {
  margin: 20px 0 0 0;
  color: #4d4d4d;
  line-height: 30px;
  border-bottom: 3px #99e2d0 solid;
  width: 50px;
}
.dishblock__cardsblock {
  /*  Plates cards arrive from left of the screen on page load, 
      smoothly and with delay between them. 
  */
}
.dishblock__cardsblock * {
  animation: slide01 1s;
}
.dishblock__cardsblock .dish01 {
  animation-delay: 100ms;
}
.dishblock__cardsblock .dish02 {
  animation-delay: 200ms;
}
.dishblock__cardsblock .dish03 {
  animation-delay: 300ms;
}
.dishblock__cardsblock .dish04 {
  animation-delay: 400ms;
}
.dishblock__cardsblock .dish05 {
  animation-delay: 500ms;
}
.dishblock__cardsblock .dish06 {
  animation-delay: 600ms;
}
.dishblock__cardsblock .dish07 {
  animation-delay: 700ms;
}
.dishblock__cardsblock .dish08 {
  animation-delay: 800ms;
}
.dishblock__cardsblock .dish09 {
  animation-delay: 900ms;
}
.dishblock__cardsblock .dish10 {
  animation-delay: 1000ms;
}

.card02 {
  overflow: hidden;
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 16px;
  margin: 6px 0;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.1));
  display: flex;
}
.card02:hover > .card02__check {
  width: 20%;
  transition: all 0.5s ease-in-out;
}
.card02:hover > .card02__info {
  width: 80%;
  transition: all 0.5s ease-in-out;
}
.card02__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.card02__info .card02__text {
  width: 100%;
  height: 100%;
  text-align: left;
  margin-left: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
}
.card02__info .card02__title {
  font-size: 1.1rem;
  font-weight: bolder;
  margin-bottom: 0.18rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card02__info .card02__subtitle {
  font-size: 0.9rem;
  color: #4d4d4d;
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card02__info .card02__price {
  margin: 0.75rem;
}
.card02__check {
  width: 0%;
  transition: all 0.5s ease-in-out;
  height: 100%;
  border-radius: 0 16px 16px 0;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card02__check .fa-circle-check {
  font-size: 1.4em;
  color: white;
}

.header__title {
  font-family: shrikhand, serif;
  font-size: 24px;
  text-align: center;
  padding: 18px 0 6px 0;
  margin: 0;
}
.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  background: #f0f0f0;
  box-shadow: #b8b8b8 0 8px 6px -6px inset;
}
.header__location * {
  color: #4d4d4d;
  border: none;
  background: none;
}
.header__location--icon {
  width: 12px;
  height: 14px;
  margin: 0 6px;
}
.header input {
  width: 100px;
}
.header__location--text {
  font-family: roboto, sans-serif;
  font-weight: bolder;
  font-size: 0.85rem;
}
.header__link {
  position: absolute;
  margin-left: 14px;
  margin-top: 14px;
}
.header__pix {
  width: 100%;
  height: 210px;
  position: relative;
  z-index: -10;
}
.header__pix img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 260px;
}
.header__pix .restopix02 {
  -o-object-position: 0 80%;
     object-position: 0 80%;
}
.header__pix .restopix03 {
  -o-object-position: 0%;
     object-position: 0%;
}
.header__pix .restopix04 {
  -o-object-position: -30px -30px;
     object-position: -30px -30px;
}

.footer {
  display: flex;
  flex-direction: column;
  background: #4d4d4d;
  padding: 8px 0 20px 20px;
  row-gap: 4px;
}
.footer * {
  color: white;
}
.footer__title {
  font-family: shrikhand;
  font-size: 0.86rem;
}
.footer__linksblock {
  font-size: 0.84rem;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.footer__linksblock .fa-solid {
  color: white;
}
.footer__linksblock a:active {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .header__location {
    box-shadow: none;
  }
  .search {
    row-gap: 24px;
  }
  .search__title {
    font-family: roboto;
    font-size: 2.2rem;
  }
  .search__button {
    margin: 0;
  }
  .search__button:hover {
    filter: opacity(0.8);
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .fonct__cardsblock__card:hover .fa-solid {
    color: #9356DC;
  }
  .resto__cardsblock {
    display: grid;
    grid-template-columns: 48% 48%;
    row-gap: 44px;
    -moz-column-gap: 2%;
         column-gap: 2%;
    justify-content: center;
    justify-items: center;
  }
  .resto-page .menu {
    max-width: 850px;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
  }
  .resto-page .menu__btn:hover {
    filter: opacity(0.8);
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .resto-page .menu__title {
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .header, .footer {
    min-width: 1024px;
  }
  .header__pix {
    height: 280px;
  }
  .header__pix img {
    height: 300px;
  }
  .header__pix .restopix01 {
    -o-object-position: 0 60%;
       object-position: 0 60%;
  }
  .header__pix .restopix02 {
    -o-object-position: 0 60%;
       object-position: 0 60%;
  }
  .header__pix .restopix03 {
    -o-object-position: 0 70%;
       object-position: 0 70%;
  }
  .header__pix .restopix04 {
    -o-object-position: 0 70%;
       object-position: 0 70%;
  }
  .fonct__cardsblock {
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 3%;
         column-gap: 3%;
  }
  .resto__cardsblock {
    grid-template-columns: 350px 350px;
    -moz-column-gap: 10%;
         column-gap: 10%;
  }
  .footer {
    padding: 40px 20px 16px 20px;
    flex-direction: row-reverse;
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
  .footer__title {
    font-size: 1rem;
  }
  .footer__linksblock {
    font-size: 0.88rem;
    margin: 20px;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
  .footer__linksblock .fa-xs {
    font-size: 13px;
  }
  .footer__linksblock a:nth-child(3) {
    padding-left: 30px;
  }
  .footer__linksblock a:hover {
    text-decoration: underline;
  }
  .menu {
    width: 1000px;
  }
}
@media (min-width: 1440px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */