@use '../utils/variables' as * ; 
@use '../utils/mixins' as * ; 

// -------  KEYFRAMES  -------

// no scroll bar during loader animation (body)
@keyframes noscroll {
    0% { overflow: hidden; }
    98% {overflow: hidden; }  // to make scroll bar appear just before end of animation
    100% { overflow: scroll; }
}

// animation loader
@keyframes loader-bckgd {
    // Loader background starts to fade out in the end of animation
    95% { 
        background-color: rgba(0,0,0,1); 
        z-index: 10;
    }
    100% { 
        background-color: rgba(0,0,0,0) ; 

        // placed much behind page (to prevent interaction on elements)
        z-index: -10; 
    }
}

@keyframes loader-img {
    0% {
        transform: rotate(0deg);
        opacity: 1; 
    }
    95% { opacity: 0.9; }
    100% {
      transform: rotate(720deg);
      opacity: 0;
    }
}

@keyframes slide01 {  
/*  Slide from left and outside of the screen viewport to initial position (page left). 
    Hides initial position on page load with opacity 0 at first. 
*/
    from {
        opacity: 0; 
        transform: translateX(-100%); 
    }
    to {
        opacity: 1; 
        transform: translateX(0) ; 
    }
}
