@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*
  Sass function to set an incremented delay of 100ms to each element of the list. 
  Used in this project to make dishes appear by translation from left of the screen, 
  each dish appearing with a different delay. 
*/
@font-face {
  font-family: shrikhand;
  src: url("../../../public/fonts/shrikhand.ttf");
}
@font-face {
  font-family: roboto;
  src: url("../../../public/fonts/roboto.ttf");
}
.noscroll {
  animation: 1.5s noscroll linear;
}

body {
  margin: 0;
}

body * {
  box-sizing: border-box;
  font-family: roboto;
  font-size: 1rem;
}
body * .fa-solid {
  width: 20px;
  color: #808080;
}
body * a {
  text-decoration: none;
  color: black;
}

@media (min-width: 1024px) {
  body {
    max-width: 1440px;
    margin: auto;
  }
}
@keyframes noscroll {
  0% {
    overflow: hidden;
  }
  98% {
    overflow: hidden;
  }
  100% {
    overflow: scroll;
  }
}
@keyframes loader-bckgd {
  95% {
    background-color: rgb(0, 0, 0);
    z-index: 10;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    z-index: -10;
  }
}
@keyframes loader-img {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  95% {
    opacity: 0.9;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}
/*  
  Slide from left and outside of the screen viewport to initial position (page left). 
  Hides initial position on page load with opacity 0 at first. 
*/
@keyframes slide01 {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader-bckgd 1.5s ease-out;
  animation-fill-mode: forwards;
}
.loader__img {
  width: 50px;
  animation: loader-img 1.5s ease-out;
  animation-fill-mode: forwards;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 30px 0;
  background: #f7f7f7;
}
.search__title {
  font-size: 1.22rem;
  font-weight: bolder;
  text-align: center;
  margin: 0 46px;
}
.search__text {
  color: #6b6b6b;
  text-align: center;
  margin: 0 20px;
}
.search__button {
  border: none;
  border-radius: 100px;
  box-shadow: 0 0.37rem 0.6rem rgba(77, 77, 77, 0.18);
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 13px 20px;
  margin: 20px 0;
  background: linear-gradient(180deg, #FF79DA -30%, #9356DC 110%);
  transition: all 300ms ease-in-out;
}
.search__button:active, .search__button:hover {
  filter: opacity(0.8);
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.fonctionnement,
.restaurants__container {
  padding: 20px;
}

.fonctionnement {
  max-width: 1000px;
  margin: auto;
}
.fonctionnement__title {
  font-weight: bold;
  font-size: 1.25rem;
}
.fonctionnement__cardsblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
}
.fonctionnement__cardsblock__card {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 280px;
  height: 60px;
  border-radius: 15px;
  background: #f7f7f7;
  box-shadow: 0 0.37rem 0.6rem rgba(77, 77, 77, 0.18);
}
.fonctionnement__cardsblock__card .card__nb {
  color: white;
  font-size: 0.7rem;
  background: #9356DC;
  border-radius: 50%;
  padding: 0.16rem 0.42rem;
  position: relative;
  left: -10px;
}
.fonctionnement__cardsblock__card .card__content {
  display: flex;
  align-items: first baseline;
}
.fonctionnement__cardsblock__card .fa-solid {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 14px;
}
.fonctionnement__cardsblock__card .fa-store {
  font-size: 0.94rem;
}
.fonctionnement__cardsblock__card .card__text {
  font-weight: 500;
  font-size: 0.82rem;
}

.restaurants {
  background: #f7f7f7;
  width: 100%;
}
.restaurants__container {
  max-width: 1000px;
  margin: auto;
}
.restaurants__title {
  font-weight: bold;
  font-size: 1.25rem;
}
.restaurants .new {
  font-size: 12px;
  color: #008766;
  background: #99e2d0;
  border-radius: 2px;
  padding: 5px 10px;
  position: absolute;
  top: 2px;
  right: 10px;
}
.restaurants__cardsblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;
}
.restaurants__cardsblock a {
  width: 100%;
}
.restaurants__cardsblock .card {
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: all 0.2s ease-in-out;
}
.restaurants__cardsblock .card__pix {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 148px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__cardsblock .card .pix01 {
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
.restaurants__cardsblock .card .pix02 {
  -o-object-position: 0 61.5%;
     object-position: 0 61.5%;
}
.restaurants__cardsblock .card .pix03 {
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
.restaurants__cardsblock .card .pix04 {
  -o-object-position: 0 95%;
     object-position: 0 95%;
}
.restaurants__cardsblock .card:hover {
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
  transform: scale(0.98);
}
.restaurants__cardsblock .card__info {
  display: flex;
  justify-content: space-between;
  padding: 14px 10px;
}
.restaurants__cardsblock .card__info * {
  margin: 0;
  line-height: 1.3rem;
}
.restaurants__cardsblock .card__subtitle {
  color: #4d4d4d;
  font-size: 0.9rem;
}
.restaurants__cardsblock .card__fav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.restaurants__cardsblock .card__fav .heart-default,
.restaurants__cardsblock .card__fav .heart-like {
  width: 22px;
  position: absolute;
  right: 10px;
}
.restaurants__cardsblock .card__fav .heart-default {
  fill: transparent;
  stroke: black;
  stroke-width: 2;
}
.restaurants__cardsblock .card__fav .heart-default:hover {
  cursor: pointer;
}
.restaurants__cardsblock .card__fav .heart-like {
  opacity: 0;
  transition: opacity 300ms linear;
}
.restaurants__cardsblock .card__fav .heart-like:hover {
  cursor: pointer;
}

.liked {
  opacity: 1;
}

@media (min-width: 768px) {
  .search {
    row-gap: 24px;
  }
  .search__title {
    font-family: roboto;
    font-size: 2.2rem;
  }
  .fonctionnement__cardsblock {
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 4%;
         column-gap: 4%;
  }
  .restaurants__cardsblock {
    row-gap: 44px;
    -moz-column-gap: 4%;
         column-gap: 4%;
    display: grid;
    grid-template-columns: 48% 48%;
  }
}
@media (min-width: 1024px) {
  .restaurants__cardsblock .card {
    min-width: 350px;
    max-width: 450px;
  }
  .restaurants__cardsblock .card .pix01 {
    -o-object-position: 0 70%;
       object-position: 0 70%;
  }
  .restaurants__cardsblock .card .pix03 {
    -o-object-position: 0 80%;
       object-position: 0 80%;
  }
  .restaurants__cardsblock .card .pix04 {
    -o-object-position: 0 74%;
       object-position: 0 74%;
  }
}
.resto-main {
  display: flex;
  justify-content: center;
}
.resto-main .menu {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  border-radius: 30px;
  width: 100%;
  padding: 12px;
}
.resto-main .menu__header {
  display: flex;
  justify-content: space-between;
  margin: 0.6rem;
}
.resto-main .menu__title {
  font-size: 1.4rem;
  font-family: "Shrikhand", serif;
}
.resto-main .menu__fav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.resto-main .menu__fav .heart-default,
.resto-main .menu__fav .heart-like {
  width: 22px;
  position: absolute;
  right: 10px;
}
.resto-main .menu__fav .heart-default {
  fill: transparent;
  stroke: black;
  stroke-width: 2;
}
.resto-main .menu__fav .heart-default:hover {
  cursor: pointer;
}
.resto-main .menu__fav .heart-like {
  opacity: 0;
  transition: opacity 300ms linear;
}
.resto-main .menu__fav .heart-like:hover {
  cursor: pointer;
}
.resto-main .menu__btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.resto-main .menu__btn {
  border: none;
  border-radius: 100px;
  box-shadow: 0 0.37rem 0.6rem rgba(77, 77, 77, 0.18);
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 13px 20px;
  margin: 20px 0;
  background: linear-gradient(180deg, #FF79DA -30%, #9356DC 110%);
  transition: all 300ms ease-in-out;
  width: 180px;
}
.resto-main .menu__btn:active, .resto-main .menu__btn:hover {
  filter: opacity(0.8);
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.dishblock__title {
  margin: 20px 0 0 0;
  color: #4d4d4d;
  line-height: 30px;
  border-bottom: 3px #99e2d0 solid;
  width: 50px;
}
.dishblock__cardsblock * {
  animation: slide01 1s;
}
.dishblock__cardsblock .dish01 {
  animation-delay: 100ms;
}
.dishblock__cardsblock .dish02 {
  animation-delay: 200ms;
}
.dishblock__cardsblock .dish03 {
  animation-delay: 300ms;
}
.dishblock__cardsblock .dish04 {
  animation-delay: 400ms;
}
.dishblock__cardsblock .dish05 {
  animation-delay: 500ms;
}
.dishblock__cardsblock .dish06 {
  animation-delay: 600ms;
}
.dishblock__cardsblock .dish07 {
  animation-delay: 700ms;
}
.dishblock__cardsblock .dish08 {
  animation-delay: 800ms;
}
.dishblock__cardsblock .dish09 {
  animation-delay: 900ms;
}
.dishblock__cardsblock .dish10 {
  animation-delay: 1000ms;
}

.card02 {
  overflow: hidden;
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 16px;
  margin: 6px 0;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.1));
  display: flex;
}
.card02:hover {
  cursor: pointer;
}
.card02__info {
  width: 100%;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.card02__info .card02__text {
  width: 100%;
  height: 100%;
  text-align: left;
  margin-left: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
}
.card02__info .card02__title {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.18rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card02__info .card02__subtitle {
  font-size: 0.9rem;
  color: #4d4d4d;
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card02__info .card02__price {
  margin: 0.75rem;
}
.card02__check {
  width: 0%;
  transition: all 0.5s ease-in-out;
  height: 100%;
  border-radius: 0 16px 16px 0;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card02__check .fa-circle-check {
  font-size: 1.4em;
  color: white;
}

@media (min-width: 768px) {
  .resto-main .menu {
    width: 80%;
  }
  .resto-main .menu .dishblock {
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  .resto-header__pix {
    height: 280px;
  }
  .resto-header__pix img {
    height: 300px;
  }
  .resto-header__pix .restopix03 {
    -o-object-position: 0 70%;
       object-position: 0 70%;
  }
  .resto-header__pix .restopix04 {
    -o-object-position: 0 70%;
       object-position: 0 70%;
  }
  .resto-main .menu {
    max-width: 80%;
  }
}
.header__title,
.resto-header__title {
  font-family: shrikhand, serif;
  font-size: 24px;
  text-align: center;
  padding: 18px 0 6px 0;
  margin: 0;
}

.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  background: #f0f0f0;
  box-shadow: #b8b8b8 0 8px 6px -6px inset;
}
.header__location form {
  display: flex;
  align-items: center;
}
.header__location form button {
  display: flex;
  align-items: center;
}
.header__location * {
  color: #4d4d4d;
  border: none;
  background: none;
}
.header__location--icon {
  width: 12px;
  height: 20px;
  margin: 0 6px;
  opacity: 0.8;
}
.header__location--text {
  font-family: roboto, sans-serif;
  font-weight: bolder;
  font-size: 0.85rem;
}
.header input {
  width: 120px;
}
.header input::-moz-placeholder {
  opacity: 1;
}
.header input::placeholder {
  opacity: 1;
}

.resto-header__link {
  position: absolute;
  margin-left: 14px;
  margin-top: 14px;
}
.resto-header__pix {
  width: 100%;
  height: 210px;
  position: relative;
  z-index: -10;
}
.resto-header__pix img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 260px;
}
.resto-header__pix .restopix02 {
  -o-object-position: 0 80%;
     object-position: 0 80%;
}
.resto-header__pix .restopix03 {
  -o-object-position: 0%;
     object-position: 0%;
}
.resto-header__pix .restopix04 {
  -o-object-position: -30px -30px;
     object-position: -30px -30px;
}

@media (min-width: 480px) {
  .resto-header__pix .restopix02 {
    -o-object-position: 0 70%;
       object-position: 0 70%;
  }
  .resto-header__pix .restopix03 {
    -o-object-position: 10% bottom;
       object-position: 10% bottom;
  }
  .resto-header__pix .restopix04 {
    -o-object-position: 0 110%;
       object-position: 0 110%;
  }
}
@media (min-width: 768px) {
  .resto-header__pix .restopix02 {
    -o-object-position: 0 60%;
       object-position: 0 60%;
  }
  .resto-header__pix .restopix03 {
    -o-object-position: 0 80%;
       object-position: 0 80%;
  }
  .resto-header__pix .restopix04 {
    -o-object-position: 0 80%;
       object-position: 0 80%;
  }
}
@media (min-width: 1024px) {
  .resto-header__pix .restopix03 {
    -o-object-position: 0 67%;
       object-position: 0 67%;
  }
  .resto-header__pix .restopix04 {
    -o-object-position: 0 70%;
       object-position: 0 70%;
  }
}
@media (min-width: 1440px) {
  .resto-header__pix .restopix03 {
    -o-object-position: 0 58%;
       object-position: 0 58%;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background: #4d4d4d;
  padding: 8px 0 20px 20px;
  row-gap: 4px;
}
.footer * {
  color: white;
}
.footer__title {
  font-family: shrikhand;
  font-size: 0.88rem;
}
.footer__linksblock {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.footer__linksblock .fa-solid {
  color: white;
}
.footer__linksblock a {
  font-size: 0.85rem;
  font-weight: 500;
}
.footer__linksblock a:active {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .footer {
    padding: 40px 20px 16px 20px;
    flex-direction: row-reverse;
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
  .footer__title {
    font-size: 1rem;
  }
  .footer__linksblock {
    font-size: 0.88rem;
    margin: 20px;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
  .footer__linksblock .fa-xs {
    font-size: 13px;
  }
  .footer__linksblock a:nth-child(3) {
    padding-left: 30px;
  }
  .footer__linksblock a:hover {
    text-decoration: underline;
  }
}