@use '../utils/variables' as * ; 
@use '../utils/mixins' as * ; 


@media (min-width: 768px) {

  // -------  HOME PAGE  -------

  .header__location {
    box-shadow: none ;
  }
  .search {
    row-gap: 24px; 

    &__title {
      font-family: roboto; 
      font-size: 2.2rem ; 
    } 

    &__button {
      margin: 0; 
      &:hover {
        filter: opacity(.8) ; 
        box-shadow: $bshadow-dark ; 
        cursor: pointer; 
      }
    }
  }
  .fonct {
    &__cardsblock {

      &__card{

        &:hover {
          .fa-solid { color: $primary-color ; }
        }
      }
    }
  }
  .resto {
    &__cardsblock {
      display: grid;  
      grid-template-columns: 48% 48% ; 
      row-gap: 44px; 
      column-gap: 2%; 
      justify-content: center; 
      justify-items: center; 
    }
  }

    // ------- RESTAURANTS PAGES  -------

  .header {
    // framing restaurant pages picture (header)

    &__pix { 

      .restopix01 { object-position: 0 60% ; }
      .restopix02 { object-position: 0 60% ; }
      .restopix03 { object-position: 0 82% ; }
      .restopix04 { object-position: 0 85% ; }
    }

  }

  .resto-page {

    .menu { 

      max-width: 850px; 
      display: flex; 
      flex-direction: column; 
      padding: 0 10%;

      &__btn {
        &:hover {
          filter: opacity(.8) ; 
          box-shadow: $bshadow-dark ; 
          cursor: pointer; 
        }
      }

      &__title {
        font-size: 1.6rem; 
      }
    }
  }

  //  Card for 1 plate 
    .card02 {
        @include card02 ; 

        @include alignx ; 

        // check box animation
        &:hover > &__check { 
            width: 20%; // default check container width before animation = 0
            transition: all .5s ease-in-out ;
        }
        &:hover > &__info {
            width: 80%; // default text container width before animation = 100% 
            transition: all .5s ease-in-out; 
        }
    }
}

@media (min-width: 1024px) {

  .header , .footer {
    min-width: 1024px; 
  }

  .header {

    // -------  RESTAURANTS PAGES  ------- 

    &__pix { 
      height: 280px; 
      
      img {
          height: 300px; 
      }
      .restopix03 { object-position: 0 70% ; }
      .restopix04 { object-position: 0 70% ; }
    }
    
  }

  .fonct {

    &__cardsblock {

      flex-direction: row; // default responsive : flexbox column
      justify-content: center; 

      column-gap: 3%; 
    }
  }

  .resto {
    &__cardsblock { 
      grid-template-columns: 350px 350px ; 
      column-gap: 10%; 
    }
  }

  .footer {
    padding: 40px 20px 16px 20px ; 
    flex-direction: row-reverse;  // default responsive : flex column
    column-gap: 70px; 

    &__title { font-size: 1rem; }

    &__linksblock {
      font-size: .88rem; 

      margin: 20px; 

      flex-direction: row; 
      align-items: center; 

      column-gap: 18px; 

      .fa-xs { font-size: 13px; }

      a:nth-child(3) { padding-left: 30px; }

      a:hover { text-decoration: underline; }
    }
  }

  // -------  RESTAURANT PAGES -------

  .menu { 
    width: 1000px; 
  }
}

@media (min-width: 1440px) {
  body {
    display: flex; 
    justify-content: center; 
  }
}