@use '../utils/variables' as * ; 
@use '../utils/mixins' as * ; 

/* Media queries based on common breakpoints here after : 
    • Mobile devices – 320px — 480px.
    • iPads, Tablets – 481px — 768px.
    • Small screens, laptops – 769px — 1024px.
    • Desktops, large screens – 1025px — 1200px.
    • Extra large screens, TV – 1201px, and more.
*/

@media (min-width: 481px){
  .resto {

    &__cardsblock {
      display: grid;  
      grid-template-columns: 48% 48% ; 
      row-gap: 44px; 
      column-gap: 2%; 
      justify-content: center;
    }
  }
} 

@media (min-width: 769px) {

    // -------  HOME PAGE  -------

  .search {
    row-gap: 24px; 

    &__title {
      font-family: roboto; 
      font-size: 2.2rem ; 
    } 

    &__button {
      margin: 0; 
      &:hover {
        filter: opacity(.8) ; 
        box-shadow: $bshadow-dark ; 
        cursor: pointer; 
      }
    }
  }

  .fonct {

    &__cardsblock {

      flex-direction: row; // default responsive : flexbox column
      justify-content: center; 

      column-gap: 3%; 

      &__card{
        width: 26%; 

        &:hover {
          .fa-solid { color: $primary-color ; }
        }
      }
    }
    
  }

    // ------- RESTAURANTS PAGES  -------

  .resto-page {
    display: flex; 
    flex-direction: column; 
    align-items: center;

    .pix {
      width: 100%; 
      height: 280px; 

      // for menu over picture
      position: relative; 
      z-index: -10; 
      
      img {
          object-fit:cover;
          object-position: 0 60%; 
          width: 100%; 
          height: 300px; 
      }
    }

    .menu { 

      max-width: 850px; 
      display: flex; 
      flex-direction: column; 

      padding: 0 10%;

      &__btn {
        &:hover {
          filter: opacity(.8) ; 
          box-shadow: $bshadow-dark ; 
          cursor: pointer; 
        }
      }
    }
  }

}

@media (min-width: 1025px) {
  body { 
    .body__container{ 
      max-width: 1440px; // max-width to prevent stretch of pages on very large screens. 
    }
  }

  .footer {
    padding: 40px 20px 16px 20px ; 
    flex-direction: row-reverse;  // default responsive : flex column
    column-gap: 70px; 

    &__title { font-size: 1rem; }

    &__linksblock {
      font-size: .88rem; 

      margin: 20px; 

      flex-direction: row; 
      align-items: center; 

      column-gap: 18px; 

      .fa-xs { font-size: 13px; }

      a:nth-child(3) { padding-left: 30px; }

      a:hover { text-decoration: underline; }
    }
  }

  .resto {
    &__cardsblock { 
      grid-template-columns: 350px 350px ; 
      column-gap: 10%; 
    }
  }

  // -------  RESTAURANT PAGES -------

  .menu { 
    width: 1000px; 
  }
}



