@use '../utils/variables' as * ; 
@use '../utils/mixins' as * ; 

/* Media queries based on common breakpoints here after : 
    • Mobile devices – 320px — 480px.
    • iPads, Tablets – 481px — 768px.
    • Small screens, laptops – 769px — 1024px.
    • Desktops, large screens – 1025px — 1200px.
    • Extra large screens, TV – 1201px, and more.
*/

@media (min-width: 768px) {

}

@media (min-width: 1025px) {
  body { 
    .body__container{ 
      max-width: 1440px; // max-width to prevent stretch of pages on very large screens. 
    }
  }

  // -------  HOME PAGE  -------
  .search {
    row-gap: 24px; 

    &__title {
      // font-size: 2.2rem; 
      font-family: roboto; 
      font-size: 2.2rem ; 
    } 

    &__button {
      margin: 0; 
    }
  }

  .fonct {

    &__cardsblock {

      flex-direction: row; // default responsive : flexbox column
      justify-content: center; 

      column-gap: 3%; 

      &__card{
        width: 26%; 
      }
    }
    
  }

  .resto {

    &__cardsblock {
      flex-direction: row;  // default responsive : flex column
      justify-content: center; 
      flex-wrap: wrap; 

      row-gap: 44px;
      column-gap: 90px; 

      .card {
        width: 460px; 

        .pix01 { object-position: 0 70%; }
        .pix02 { object-position: 0 58%; }
        .pix03 { object-position: 0 70%; }
        .pix04 { object-position: 0 70%; }
      }
    }
  }

  .footer {
    padding: 40px 20px 16px 20px ; 
    flex-direction: row-reverse;  // default responsive : flex column
    column-gap: 70px; 

    &__title { font-size: 1rem; }

    &__linksblock {
      font-size: .88rem; 

      margin: 20px; 

      flex-direction: row; 
      align-items: center; 

      column-gap: 18px; 

      .fa-xs { font-size: 13px; }

      a:nth-child(3) { padding-left: 30px; }

      a:hover { text-decoration: underline; }
    }
  }

  // ------- RESTAURANTS PAGES  -------

  .resto-page {
    display: flex; 
    flex-direction: column; 
    align-items: center;

    .pix {
      width: 100%; 
      height: 280px; 

      // for menu over picture
      position: relative; 
      z-index: -10; 
      
      img {
          object-fit:cover;
          object-position: 0 60%; 
          width: 100%; 
          height: 300px; 
      }
    }

    .menu { 
      width: 1000px; 
    }
  }
}



