@use '../utils/variables' as * ; 
@use '../utils/mixins' as * ; 


// -------  FONTS  -------

// For further additional fonts, update FONT MIXINS consequently

@font-face { 
    font-family: shrikhand ; 
    src: url("../fonts/shrikhand.ttf") ; 
}
@font-face {
    font-family: roboto; 
    src: url('../fonts/roboto.ttf') ; 
}


// -------  BODY  -------

body { 
    margin: 0;  
    
    display: flex; 
    flex-direction: column; 
    align-items: center; 

    &__container {
        max-width: 1440px;  
    }
}

.noscroll {
    // hide scroll bar during loader animation, on home page only
    animation: 2s noscroll linear ; 
}

body * {
    box-sizing: border-box; 
 
    font-family: roboto; 
    font-size: 1rem; 

    .fa-solid { @include icon ; }

    a {
        text-decoration: none;
        color: black; 
    }
}

