@use '../utils/variables' as * ; 
@use '../utils/mixins' as * ; 

// no scroll bar during loader animation (body)
@keyframes noscroll {
    0% {
        overflow: hidden; 
    }

    98% {overflow: hidden; }
    100% {
        overflow: scroll; 
    }
}

// Body (whole pages)
.body { 
    margin: 0; 

    &__container {
        position: static; 
        top: 0; 
        left: 0; 

        max-width: 1440px; 
    }

    // hide scroll bar during loader animation
    animation: 3s noscroll linear ; 
}

 

body * {
    box-sizing: border-box; 
 
    font-family: roboto , sans-serif;  
    .fa-solid { @include icon ; }

    a {
        text-decoration: none;
        color: black; 
    }
}

// fonts

@font-face { 
    font-family: shrikhand ; 
    src: url("../../fonts/shrikhand.ttf") ; 
}

@font-face {
    font-family: roboto; 
    src: url('../../fonts/roboto.ttf') ; 
}
