@use 'variables' as * ; 

// FORMAT
%section-title {
    font-weight: bold; 
    font-family: roboto , sans-serif; 
    font-size: 20px;
}

// COMPONENTS
// icons
%icon { 
    width: 20px; 
    color: #808080; 
}

// "Nouveau" sticker
%new {
    font-size: 12px; 
    color: $omf-darkgreen; 
    background: $omf-lightgreen;

    border-radius: 2px; 

    padding: 5px 10px; 

    position: absolute; 
    top: 2px; 
    right: 10px; 
}


// LAYOUT
%alignx {
    display: flex; 
}

%alignx-xycenter {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

%alignx-ycenter {
    display: flex; 
    align-items: center; 
}

%alignx-xcenter {
    display: flex; 
    justify-content: center; 
}

%aligny {
    display: flex; 
    flex-direction: column; 
}

%aligny-xcenter {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}