// DESIGN SYSTEM

// Colors
$omf-gray: #4d4d4d ; 
$omf-lightgray: #f7f7f7; 

$omf-blue: #003A68 ; 
$omf-lightblue: #89C8FA ; 

$omf-darkgreen: #008766 ; 
$omf-lightgreen: #99E2D0; 

$primary-color: #9356DC; 
$second-color: #FF79DA; 

// box shadow effect
$bshadow: 0 .37rem .38rem rgba(0, 0, 0, 0.16) ; 
$bshadow-dark: 0 .2rem .8rem rgba(0, 0, 0, 0.5) ;
